* {
padding: 0%; margin: 0%;
font-family: "miller-banner", serif;
word-spacing: 3px;
letter-spacing: 1px;
font-style: normal;
}


                                                /* HOME PAGE */
img.logo {
    width: auto; height: 10vh;
    cursor: pointer;
}

img.logo:hover {
    transform: scale(0.95);
    transition: 250ms;
}

.indexbody {
    background-image: url('imgs/homebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
    color: white;
}

.homea {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: 250ms;
    position: relative;
    
}

.homea:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0;
    height: 1px;
    transition: all 250ms;
}

.homea:hover.homea:after {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    padding-bottom: 1vh;
    margin-bottom: 1vh; 
    border-bottom: solid 1px #e1e1e1;
    color: white;
}

.ultopbar {
    display: flex;
}

.topbar li{
    display: inline-block;
    padding: 0 8vh;
    list-style-type: none;
}

h1 {
    font-weight: 400;
    font-size: 4.5em;
    text-align: center;
    padding-top: 25vh;
}

.phome {
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 8vh;
}

.cnb{
    display: block;
    width: 250px;
    text-align: center;
    font-size: 2em;
    line-height: 8vh;
    margin: auto;
    border: 1px solid;
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.cnb:hover {
    background-color: rgba(0.75, 0, 0, 0.5);
    color: white;
    transition: 250ms;
}

                                                     /* ABOUT PAGE */

.aboutbody {
    background-image: url('../imgs/aboutbg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.introabout {
    margin-left: 4vw; margin-right: 10vw; margin-bottom: 3vh; margin-top: 20vh;
    font-weight: 600; font-size: 1.15em; 
    text-align: center;
}

.abouth1 {
    color: white;
    font-size: 4em;
    font-style: normal;
    padding: 0; 
    margin-top: 18vh; margin-bottom: 7vh;
}

.abouth2 {
    font-size: 2em;
    margin-left: 4vw; margin-right: 10vw; margin-top: 6vh; margin-bottom: 3vh;
}

.aboutp {
    margin-left: 4vw; margin-right: 10vw; margin-bottom: 3vh;
    font-weight: 600;
}

.aboutol{
    margin-left: 6vw; margin-right: 10vw;
    font-weight: 600;
}

.aboutul {
    margin-left: 6vw; margin-right: 10vw;
    font-weight: 650;
}

.aboutul2 {
    margin-left: 6vw; margin-right: 10vw;
    font-weight: 650;
}

.aboutli {
    margin-bottom: 3vh;
}

.aboutstrong {
    font-style: italic;
    font-size: 1.15em;
}

.joinus {
    margin-left: 4vw; margin-right: 10vw; margin-bottom: 6vh;
    font-weight: 600;
}
                                                     /* EVENTS PAGE */

.eventsbody {
    background-image: url('../imgs/eventsbg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.eventsh1 {
    color: white;
    font-size: 4em;
    font-style: normal;
    padding: 0; 
    margin-top: 18vh; margin-bottom: 7vh;
}

.eventsintro {
    margin-left: 4vw; margin-right: 10vw; margin-bottom: 13vh; margin-top: 20vh;
    font-weight: 600; font-size: 1.15em; 
    text-align: center;
}

/* events*/

.event1sec {
    display: flex;
}

.eventsh2 {
    font-size: 2em;
    margin-left: 2vw; margin-right: 10vw; margin-bottom: 3vh;
}

.event1ul {
    margin-left: 3vw; margin-right: 10vw;
    font-weight: 600;
}

.event1img {
    height: 30vh;
    margin-left: 6vw; margin-bottom: 10vh;
    border: solid black 2px; 
    padding: 2px;
}

.eventsstrong {
    font-style: italic;
    font-size: 1.15em;
}

.evh2 {
    font-size: 2em;
    margin-left: 4vw; margin-right: 10vw; margin-bottom: 3vh; 
}

.regul {
    margin-left: 6vw; margin-right: 10vw;
    font-weight: 600;
}

.eventsoutro {
    margin-left: 4vw; margin-right: 10vw; margin-top: 5vh; margin-bottom: 5vh;
    font-weight: 600; font-size: 1.15em;
}

                                                     /* CONTACT PAGE */

.contactbody {
    background-image: url('../imgs/contactbg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.contacth1 {
    color: white;
    font-size: 4em;
    font-style: normal;
    padding: 0; 
    margin-top: 18vh; margin-bottom: 7vh;
}

.contactintro {
    margin-left: 4vw; margin-right: 10vw; margin-bottom: 8vh; margin-top: 20vh;
    font-weight: 600; font-size: 1.15em; 
    text-align: center;
}

.contacth2 {
    font-size: 2em;
    margin-left: 3vw; margin-right: 10vw; margin-bottom: 3vh;  
}

.contactul {
    margin-left: 6vw; margin-right: 10vw; margin-bottom: 6vh;
    font-weight: 600;
}

.contactstrong {
    font-style: italic;
    font-size: 1.15em;
}

.contactp {
    margin-left: 4vw; margin-right: 10vw; margin-bottom: 6vh;
    font-weight: 600;   
}

.contacta {
    color: black;
    font-weight: 650; font-style: italic;
    font-size: 1.15em;
}

.contacta:hover {
    color: rgb(117, 117, 117);
}
